# Authorization Token, leave blank to disable
AUTH_TOKEN=""

# Network Interface Bindings
ADDR="0.0.0.0"
PORT=8080

# Maximum File Size (MiB)
MAX_FILE_SIZE=10

# Model Path, will be automatically downloaded if not exists
MODEL_PATH="./data/model.onnx"

# Model Top Tags, shipped with the repository
TOP_TAGS_PATH="./data/top_tags.txt"